@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */
@font-face {
  font-family: Talisso;
  src: url(../fonts/tussilago_rg.otf);} 
* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
    background-color: #0A0A0D;
    color: white;
}

.logo-header {
    max-width: 100%;
    max-width: 95px;
    height: auto;
    user-select: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    background-color: #0A0A0D;
    height: 12vh;
}

.nav-list {
    display: flex;
    align-items: center;
}

#menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin-left: 32px;
}

.nav-link {
    text-decoration: none;
    color: lightgray;
}

.nav-link:hover {
    color: #0583F2;
}

.login-button button {
    padding: 12px;
    border-color: #0583F2;
    background: none;
    color: #0583F2;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button button:hover {
    background-color: rgb(5, 131, 242, 1);
    color: white;
}

#btn-mobile {
    display: none;
}

#hide-this {
    visibility: hidden;
}

.link-registrar {
    color: #0583F2;
    text-decoration: none;
    transition: color 0.6s ease-in-out;
}

.link-registrar:hover {
    color: #79bffc;
}

@media (max-width: 700px) {
    .login-button{
        display: none;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        transition: 0.6s;
        background-color: #0A0A0D;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #hide-this {
        visibility: visible;
    }
    #nav-bar.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburguer {
        display: block;
        width: 20px;
        border-top: 2px solid;
        color: #0583F2;
    }
    #hamburguer::after, #hamburguer::before {
        display: block;
        content: '';
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.4s;
        position: relative;
    }
    #nav-bar.active #hamburguer {
        border-top-color: transparent;
    }
    #nav-bar.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav-bar.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}