* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	background-color: black;
	font-family: 'Roboto', sans-serif;
}

.chat-container {
	position: fixed;
	bottom: 0;
	right: 1%;
	padding: none;
	height: 85vh;
	width: 30vw;
	margin: 0 auto;
    margin-top: 155px;
    margin-right: 150px;
	border: 2px solid #73bdca;
    border-radius: 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
	background: linear-gradient(to bottom, #1e9e98, #1a1ef6);
}

.header {
	display: flex;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid #ccc;
    background-color:  rgb(49, 30, 177);
    border-radius: 10px;
}

.header img {
	width: 	100px;
	height: 50px;
	margin-right: 10px;
}
.header h1 {
	margin-left: 2%;
	font-size: 30px;
    color: snow;
}

.chat-box{
	display: flex;
	flex-direction: column;
	height: 77%;
}

.chat-header {
	margin-bottom: 10px;
	display: flex;
	align-items: center;
	padding: 20px;
	border-bottom: 1px solid #ccc;
}
.chat-header img {
	max-width: 50px;
	width: 40px;
	height: 40px;
	margin-right: 10px;
	border-radius: 50%;
}

.chat-header h2 {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
	margin: 0;
	font-size: large;
}

.chat-messages {
	max-height: 100%;
	gap: 0.8rem;
	display: inline-flex;
	flex-direction: column;
	text-align: flex;
	margin-top: none;
	word-wrap: break-word;
	flex: 10;
	padding: 15px;
	overflow: auto;
}

.message.from-me {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: medium;
	padding: 8px;
	padding-top: 0;
	padding-bottom: 0;
	margin: 0;
	position: relative;
	top: 0;
	width: 100%;
	height: auto;
	align-self: flex-end;
	color: #fff;
	border-radius: 8px;
	background-color: rgb(83, 173, 203);
	bottom: 70%;	
}

.chat-input {
	
	width: 100%;
	top: 85%;
	position: static;
	display: inline-flex;
	align-items: center;
	padding: 10px;
	border-top: 1px solid #ccc;
}

.chat-input input {
	flex: 1;
	padding: 10px;
	border: none;
	border-radius: 5px;
	margin-right: 10px;
	background-color: snow;
}

.chat-input button {
	padding: 10px 20px;
	border: none;
	border-radius: 5px;
	background-color: #0084ff;
	color: #fff;
	cursor: pointer;
}

.chat-input button:hover {
	background-color: #0073e6;
}

input[type="text"] {
	width: 100%;
	max-width: 400px;
	padding: 10px;
	box-sizing: border-box;
  
}
  
.chat-container.minimized {
    display: block;
	margin-left: 1000px;
    width: 0px;
    height: 0px;
    position: absolute;	
    bottom: 20px;
    right: 5px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
  }  	

#minimized-chat {
	position: fixed;
	bottom: 0;
	right: 0;
	width: 100px;
	height: 30px;
	background-color: #008CBA;
	text-align: center;
	font-size: 14px;
	cursor: pointer;
	display: none;
}

.minimized #chat-box {
  	display: none;
}

.minimized #minimized-chat {
	display: block;
}

  .header.hidden {
    display: none;
  }

  .minimize-btn {
	border: 1px;
	background-color: transparent;
	border: none;
	padding: 0;
	position: fixed;
	bottom: 5px;
	right: 100px;
  }
  
  .minimize-btn img {
	border-radius: 30px;
	background-color: transparent;
	margin-left: 0.5vw;
	width: 65px;
	height: 65px;
	cursor: pointer;
  }
  
  .minimized .minimize-btn img {
	transform: rotate(180deg);
  }
  
  .minimize-btn span {
	display: none;
  }

.hidden{
	display: none;
}

.minimize-btn:hover {
    transform: translateX(50);
}