@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */
@font-face {
  font-family: Talisso;
  src: url(../fonts/tussilago_rg.otf);} 

@font-face {
  font-family: Helga;
  src: url(../fonts/Helga.ttf);} 

* {
    margin: 0;
    padding: 0;
}

body {
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
    background-color: #0A0A0D;
    color: white;
    font-size: 16px;
}
/* estilos padrão para o header */
.header-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
  }

  .logo-header {
    max-width: 100%;
    max-width: 95px;
    height: auto;
    user-select: none;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
    background-color: #0A0A0D;
    height: 12vh;
}

.nav-list {
    display: flex;
    align-items: center;
}

#menu {
    display: flex;
    justify-content: center;
    list-style: none;
}

.nav-item {
    margin-left: 32px;
}

.nav-link {
    text-decoration: none;
    color: lightgray;
}

.nav-link:hover {
    color: #0583F2;
}

.login-button button {
    padding: 12px;
    border-color: #0583F2;
    background: none;
    color: #0583F2;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.login-button button:hover {
    background-color: #0583f2;
    color: white;
}

#btn-mobile {
    display: none;
}

#hide-this {
    visibility: hidden;
}

.link-registrar {
    color: #0583F2;
    text-decoration: none;
    transition: color 0.6s ease-in-out;
}

.link-registrar:hover {
    color: #79bffc;
}

@media (max-width: 700px) {
    .login-button{
        display: none;
    }
    #menu {
        display: block;
        position: absolute;
        width: 100%;
        top: 70px;
        right: 0;
        transition: 0.6s;
        background-color: #0A0A0D;
        z-index: 1000;
        height: 0px;
        visibility: hidden;
        overflow-y: hidden;
    }
    #hide-this {
        visibility: visible;
    }
    #nav-bar.active #menu {
        height: calc(100vh - 70px);
        visibility: visible;
        overflow-y: auto;
    }
    #menu a {
        padding: 1rem 0;
        margin: 0 1rem;
    }
    #btn-mobile {
        display: flex;
        padding: 0.5rem 1rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 0.5rem;
    }
    #hamburguer {
        display: block;
        width: 20px;
        border-top: 2px solid;
        color: #0583F2;
    }
    #hamburguer::after, #hamburguer::before {
        display: block;
        content: '';
        width: 20px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: 0.4s;
        position: relative;
    }
    #nav-bar.active #hamburguer {
        border-top-color: transparent;
    }
    #nav-bar.active #hamburguer::before {
        transform: rotate(135deg);
    }
    #nav-bar.active #hamburguer::after {
        transform: rotate(-135deg);
        top: -7px;
    }
}
  /* estilos para telas menores do que 768px */

/*MAIN*/
.div-main {
    display: flex;
    flex-direction: row;
    max-width: 100vw;
    min-width: 55px;
}

.div-esquerda {
    max-width: 35vw;
    padding: 65px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.h1-main {
  font-family: Talisso;
  line-height: 60px;
  font-size: 3.125em; /* ajuste proporcional ao tamanho de fonte do body */
  font-weight: normal;
}


.span-h1-main {
  display: inline-block;
  position: relative;
  overflow: hidden;

}

.span-h1-main {
  color: #056CF2;
  border-right: .05em solid;
  animation: caret 1s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.p-main {
  color: gray;
  font-weight: 300;
  margin-top: 15px;
}

.button-main {
  padding: 15px;
  background: linear-gradient(90deg, rgba(5,151,242,1) 0%, rgba(5,131,242,1) 35%, rgba(5,108,242,1) 100%);
  border: none;
  border-radius: 10px;
  font-family: 'Poppins', sans-serif;
  font-weight: bold;
  cursor: pointer;
}

.button-main:hover {
  background: transparent;
  border: #0583F2;
  color: #0583F2;
  border: #0583F2 1px solid;
}

.button-learn-main {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 13px;
  justify-content: space-between;
}

.learn-more {
  display: flex;
  justify-content: center;
  align-items: center;
}

.div-direita {
    max-width: 75vw;
    position: relative;
    width: 70%;

}

a {
  text-decoration: none;
  color: gray;
}

a:hover {
  color: white;
}

.div-direita {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.img-wrapper {
  width: 100%;
  user-select: none;
}

.img-wrapper img {
  float: right;
  width: 79%;
}


@media (max-width: 768px) {
  .header-main {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }
  
  /* estilos para o botão de registro */
  .header-main button {
    margin-top: 20px;
  }

  .h1-main {
    font-size: 1.5em; /* ajuste para telas menores */
    line-height: 35px;
  }
  .p-main {
    font-size: 12px;
  }
}

/*     Sobre nós    */

.div-about-top{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  min-width: 300px; max-width:800px;
  min-height:300px; max-height:800px;
  margin: 0 auto;
}

.div-about-base{
  display: grid;
  grid-template-columns: 1fr 1fr;
  min-width: 300px; max-width:800px;
  min-height:300px; max-height:800px;
  margin: 0 auto;
}

.h1-about {
  font-size:60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

.span-nosso{
  color: white;
  font-family: Talisso;
}

.span-time{
  color: #056CF2;
  font-family: Helga;
}

.about-image{
  width:150px;
  height:150px;
}

.person-div {
  width:200px; height:200px;
  display: flex; flex-direction: column;
  align-self: center; justify-self: center;
  align-items: center; justify-content: center;
}


.person-div h2 {
  font-size: 18px;
}

.person-div p {
  font-size: 14px;
  color: #0583F2;
}
