@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

@font-face {
    font-family: Talisso;
    src: url(../fonts/tussilago_rg.otf);} 
  

* {
    margin: 0;
    padding: 0;
}

body{
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
    background-color: #0A0A0D;
    color: white;
    font-size: 16px;
    min-width: 320px;
}


/* Notificacao */
#fundo_para_notificacao{
    font-size:16px;
    width:100%; height:10em;
    position: absolute; top:0%;
    z-index: 9999;
}
#notificacao_div{
    position: relative; top:0%; margin: auto;
    width: 40em; height:10em;
    color:rgb(0, 0, 0); font-family: 'Poppins', sans-serif; font-weight: bold;
    display:flex; justify-content: center; 
    background-color: #e3e3e3;
    border-radius: 0.5em;
    animation: descendo_noti 10s ease-in-out;
    
}
#notificacao_div::before{
    position:absolute;
    content: "";
    bottom:0; left:0;
    width:40em; height:0.5em;
    background-color: #0583F2;
    border-bottom-left-radius: 0.5em;
    border-bottom-right-radius: 0.5em;
    animation: timer_noti 8s ease-in-out;
}
#notificacao_div p{
    display:flex;
    font-size:1.2em;
}
.hide{
    visibility: hidden;
    display:none;
}
@keyframes descendo_noti {
    0% {
        top:-200%;
    }
    10% {
        top: 0%;
    }
    80%{
        top:0%;
    }
    100%{
        top:-200%;
    }
}

@keyframes timer_noti{
    0%{
        width:0em;
    }
    100%{
        width:40em;
    }
}


.material-symbols-outlined {
    user-select: none;
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' -25,
  'opsz' 24
}

/* MAIN */
main {
    display: flex;
    flex-direction: row;
}

/*              SECTION ESQUERDA            */

.sec-esquerda {
    padding: 30px;
    width: 25%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    
}
.centerimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10px;
}

.div-profileimage {
    position: relative;
    max-width: 300px;
    max-height: 300px;
    cursor: pointer;
  }
  
  .div-profileimage img {
    width: 100%;
    max-height: 300px;
    border-radius: 30px;
    filter: blur(0px);
    transition: filter 0.5s ease-in-out;
  }

  .div-profileimage img:hover {
    filter: blur(5px);
  }
  
  .div-profileimage input[type="file"] {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 0;
    z-index: 1;
    cursor: pointer;
  }
  
  .div-profileimage:hover input[type="file"] {
    opacity: 1;
  }
  
  .sobre-divesquerda {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
    border-radius: 10px;
    cursor: pointer;
}

.sobre-divesquerda:hover {
    background-color: #212125;
}

.sobre-divesquerda h2{
    font-size: 18px;
    font-weight: 300;
    color: #0583F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(5, 131, 242),rgba(56,2,155,0));
    border-image-slice: 1;
}

.sobre-divesquerda p {
    margin-top: 12px;
    font-size: 15px;
}

/*              SECTION DIREITA           */
.sec-direita {
    padding: 45px;
}
.div-direitamain {
    display: flex;
    flex-direction: column;
}

.main-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 350px;
}

.main-infos h1{
    font-family: Talisso;
    font-size: 38px;
    font-weight: 500;
}

.div-direitamain button {
    background-color: #0A0A0D;
    border: none;
    color: #0583F2;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.div-direitamain span {
    color: #0583F2;
}

.div-direitamain button:hover {
    background-color: #212125;
    border-radius: 10px;
    color: #63aff1;
}

.div-direitamain h2 {
    font-size: 16px;
    font-weight: 500;
    color: #0583F2;
    cursor: pointer;
}

/*SELECTS*/
.menu {
    list-style: none; 
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 5px;
    margin-top: 40px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(5, 131, 242),rgba(56,2,155,0));
    border-image-slice: 1;
    width:100%;
}
.menu li {
    padding: 5px;
}

.menu li.selected {
    background-color: #0583F2;
    color: white;
    border-radius: 5px;
  }

.menu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: rgb(247, 244, 244);
}

article {
	position: relative;
}

.sec-article {
    position: absolute;
    border-radius: 10px;
    width: 100%;
    background-color: #0A0A0D;
    height: auto;
	z-index: 0;
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.sec-article-idea {
    display: flex;
    flex-direction: column;
}

.sec-article div.sec-article-esquerda {
    display: flex;
    flex-direction: column;
    gap: 59px;
}

.sec-article-direita {
    display: flex;
    flex-direction: column;
    gap: 46px;
}

.sec-article div .info-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    color:rgb(5, 131, 242);
}

.ideas div {
    position: relative; top: 0; left: 0;
    background-color: #212125;
    padding: 30px;
    border-radius: 20px;
    max-height: 330px;
    min-height: 200px;
}

.ideas div button {
    background-color: #0583F2;
    border: none;
    padding: 7px;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins';
    align-self: center;
    cursor: pointer;
}

.ideas div button:hover {
    background-color: #489ee9;
}

/* Teste para arrumar os TABS */

.tab_closed{
    display:none;
}

.tab_opened{
    display:flex;
}

.non-button {
    background-color: #212125;
    color: #0583F2;
    border: none;
    display: flex;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins';
}

.set-button {
    background-color: #212125;
    color: #0583F2;
    max-width: 40px;
    border: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px;
    border-radius: 10px;
    cursor: pointer;
    font-family: 'Poppins';
    margin-left: 10px;
}

.sec-article-direita button:hover {
    background-color: #3a3a3b;
}

.section-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 20%;
    padding-bottom: 10px;
}

#modal-apagar form {
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao-apagar-conta, #botao-apagar {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: rgb(221, 85, 85);
    border: none;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    font-family: "Poppins";
    margin-top: 2px;
}
  
/* #botao-apagar-conta, #botao-apagar {
    background-color: rgb(196, 35, 35);
    box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
    color: #fff;
    transform: translateY(-7px);
} */
  
#botao-apagar-conta:active {
    transform: translateY(-1px);
}

#botao-salvar-conta {
    padding: 1.3em 3em;
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 2.5px;
    font-weight: 500;
    color: #000;
    background-color: #fff;
    border: none;
    border-radius: 45px;
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.3s ease 0s;
    cursor: pointer;
    outline: none;
    border-radius: 10px;
    font-family: "Poppins";
}
  
#botao-salvar-conta:hover {
    background-color: rgb(28, 202, 28);
    box-shadow: 0px 15px 20px rgba(28, 202, 28, 0.4);
    color: #fff;
    transform: translateY(-7px);
}
  
#botao-salvar-conta:active {
    transform: translateY(-1px);
}

/* MODAL */
.edit-modal-main {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 1;
  }

.modal-changes-infos {
    position: absolute;
    background-color: #3a3a43;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    max-width: 50%;
    min-width: 50%;
    border-radius: 10px;
}

.modal-changes-infos h1 {
    font-weight: 400;
}

.modal-changes-infos input {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #494951;
    border: none;
    border-radius: 10px;
    max-height: none;
    color: white;
    font-family: "Poppins";
}

.modal-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-header-row span {
    cursor: pointer;
}

.modal-header-row span:hover {
    color: rgb(242, 86, 86);
}

.modal-changes-infos input::placeholder {
    color: rgb(133, 133, 133);
    padding-left: 2px;
}

.modal-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-form button {
    padding: 8px;
    max-width: 80px;
    min-width: none;
    font-family: "Poppins";
    margin-top: 20px;
    background-color: #0583F2;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.modal-changes-infos form button:hover {
    background-color: #4397e0;
}

/*IMPRESSÃO DE IDEIAS*/
.div-idea {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 20px;
    user-select: none;
}

.infos-user {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
    padding-bottom: 5px;
    border-bottom: 1px solid gray;
}

.infos-user-row {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;
}

.infos-user-names {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.nome-user {
    font-family: Talisso;
    font-size: 16px;
    font-weight: 500;
}

.persona-user {
    font-family: Talisso;
    font-size: 12px;
    color: rgb(5, 131, 242);
    font-weight: 400;
}

.img-user {
  width: 50px;
  height: 50px;   
  border-radius: 50%;
}

.botao-editar-e-deletar-ideia {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.botao-editar-e-deletar-ideia button.editar {
    background-color: #05C7F2;
    padding: 10px;
    color: white;
    border-radius: 10px;
    border: none;
    font-family: "Poppins";
    cursor: pointer;
}

.botao-editar-e-deletar-ideia button.editar:hover {
    background-color: #0dd3ff;
    box-shadow: 0px 15px 20px rgba(89, 179, 199, 0.4);
}

.botao-editar-e-deletar-ideia button.deletar {
    background-color: rgb(221, 85, 85);
    margin-left: 5px;
    padding: 10px;
    color: #fff;
    border-radius: 10px;
    border: none;
    font-family: "Poppins";
    cursor: pointer;
}

.botao-editar-e-deletar-ideia button.deletar:hover {
    background-color: rgb(230, 75, 75);
    box-shadow: 0px 15px 20px rgba(229, 46, 46, 0.4);
}

/* A página "profilePage/profile_posts.php" está linkada neste css, então precisei trazer o css desse buttons-user pra cá */
.buttons-user {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
  }
  
  .buttons-user button {
    background-color: #0583F2;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
  }
  
  .buttons-user button:hover {
    background-color: #3c98e9;
  }
  
  .buttons-user a {
    text-decoration: none;
    color: #0583F2;
    font-size: 13px;
  } 
  
  .buttons-user a:hover {
    color: #63aff1;
}
