@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */

@font-face {
    font-family: Talisso;
    src: url(../fonts/tussilago_rg.otf);} 
  

* {
    margin: 0;
    padding: 0;
}

body{
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
    background-color: #0A0A0D;
    color: white;
    font-size: 16px;
    min-width: 320px;
}

.material-symbols-outlined {
    user-select: none;
    
  font-variation-settings:
  'FILL' 0,
  'wght' 100,
  'GRAD' -25,
  'opsz' 24
}

/* MAIN */
main {
    display: flex;
    flex-direction: row;
}

/*              SECTION ESQUERDA            */

.sec-esquerda {
    padding: 30px;
    width: 25%;
    max-height: 100%;
    display: flex;
    flex-direction: column;
    
}
.centerimg {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-self: center;
    padding: 10px;
}

.div-profileimage {
    max-width: 300px;
    max-height: 300px;
}

.div-profileimage img {
    max-width: 300px;
    height: 300px;
    border-radius: 30px;
}

.sobre-divesquerda {
    padding: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.sobre-divesquerda h2{
    font-size: 18px;
    font-weight: 300;
    color: #0583F2;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-right: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(5, 131, 242),rgba(56,2,155,0));
    border-image-slice: 1;
}

.sobre-divesquerda p {
    margin-top: 12px;
    font-size: 15px;
}

/*              SECTION DIREITA           */
.sec-direita {
    padding: 45px;
}
.div-direitamain {
    display: flex;
    flex-direction: column;
}

.main-infos {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 350px;
}

.main-infos h1{
    font-family: Talisso;
    font-size: 38px;
    font-weight: 500;
}

.div-direitamain button {
    background-color: #0A0A0D;
    border: none;
    color: #0583F2;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.div-direitamain span {
    color: #0583F2;
}

.div-direitamain button:hover {
    background-color: #212125;
    border-radius: 10px;
    color: #63aff1;
}

.div-direitamain h2 {
    font-size: 16px;
    font-weight: 500;
    color: #0583F2;
}

.buttons-user {
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 40px;
}

.buttons-user button {
    background-color: #0583F2;
    border: none;
    color: white;
    border-radius: 10px;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 10px;
    cursor: pointer;
}

.buttons-user button:hover {
    background-color: #3c98e9;
}

.buttons-user a {
    text-decoration: none;
    color: #0583F2;
    font-size: 13px;
} 

.buttons-user a:hover {
    color: #63aff1;
}

/*SELECTS*/
.menu {
    list-style: none; 
    display: flex;
    flex-direction: row;
    gap: 40px;
    padding-bottom: 5px;
    margin-top: 40px;
    border-bottom: 2px solid transparent;
    border-image: linear-gradient(0.25turn, rgb(5, 131, 242),rgba(56,2,155,0));
    border-image-slice: 1;
    width:100%;
}
.menu li {
    padding: 5px;
}

.menu li.selected {
    background-color: #0583F2;
    color: white;
    border-radius: 5px;
}

.menu a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    color: rgb(247, 244, 244);
}

article {
	position: relative;
}

.sec-article {
    position: absolute;
	padding: 8px;
    border-radius: 10px;
    width: 100%;
    background-color: #0A0A0D;
    height: auto;
	z-index: 0;
    margin-top: 30px;
    color: white;
    display: flex;
    flex-direction: row;
    gap: 50px;
}

.sec-article div.sec-article-esquerda {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sec-article-direita {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.sec-article div .info-user {
    display: flex;
    flex-direction: row;
    align-items: center;
    color:rgb(5, 131, 242);
    
}

.ideas div {
    position: relative; top: 0; left: 0;
    background-color: #212125;
    padding: 30px;
    border-radius: 20px;
    max-height: 330px;
    min-height: 200px;
}

.ideas div button {
    background-color: #0583F2;
    border: none;
    padding: 7px;
    border-radius: 10px;
    color: white;
    font-family: 'Poppins';
    align-self: center;
    cursor: pointer;
}

.ideas div button:hover {
    background-color: #489ee9;
}

/* Teste para arrumar os TABS */

.tab_closed{
    display:none;
}

.tab_opened{
    display:flex;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
}

#botao-logout, #botao-logout-test {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(230, 51, 51);
    border: none;
    font-family: "Poppins";
    color: white;
    margin: 10px;
    cursor: pointer;
}

#botao-logout, #botao-logout-test:hover {
    background-color: rgb(222, 80, 80);
}

/* MODAL */
.edit-modal-main {
    display: none;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: transparent;
    backdrop-filter: blur(10px);
    z-index: 1;
  }

.modal-changes-infos {
    position: absolute;
    background-color: #3a3a43;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 30px;
    max-width: 50%;
    min-width: 50%;
    border-radius: 10px;
}

.modal-changes-infos h1 {
    font-weight: 400;
}

.modal-changes-infos input {
    margin-top: 10px;
    padding: 10px;
    width: 100%;
    background-color: #494951;
    border: none;
    border-radius: 10px;
    max-height: none;
    color: white;
    font-family: "Poppins";
}

.modal-header-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.modal-header-row span {
    cursor: pointer;
}

.modal-header-row span:hover {
    color: rgb(242, 86, 86);
}

.modal-changes-infos input::placeholder {
    color: rgb(133, 133, 133);
    padding-left: 2px;
}

.modal-form {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.modal-form button {
    padding: 8px;
    max-width: 80px;
    min-width: none;
    font-family: "Poppins";
    margin-top: 20px;
    background-color: #0583F2;
    border: none;
    color: white;
    border-radius: 10px;
    cursor: pointer;
}

.modal-changes-infos form button:hover {
    background-color: #4397e0;
}

.desc-ideia {
    text-align: justify;
}