@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
/* font-family: 'Poppins', sans-serif; */
* {
    margin: 0;
    padding: 0;
}

body{
    max-width: 100vw;
    font-family: 'Poppins', sans-serif;
    background-color: #0A0A0D;
    color: white;
    font-size: 16px;
}

header {
    padding: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 180px;
    max-width: 100vw;
    min-width: 320px;
    border-bottom: 1px solid gray;
}

header a {
    text-decoration: none;
    color: rgb(110, 109, 109);
}

header a:hover {
    color: white;
}

header input {
    background: none;
    padding: 10px;
    width: 240px;
    border: 2px solid rgb(110, 109, 109);
    font-family: 'Poppins', sans-serif;
    font-size: 12px;
}

.logo-header {
    max-width: 95px;
    height: auto;
    user-select: none;
}

.div-userimg{
    max-width: 2.3em;
    max-height: 3em;
}

.user-img {
    max-width: 100%;
    height: auto;
    border: 2px (110, 109, 109) solid;
    border-radius: 50px;
}

/*  PERFIL */

main {
    display: flex;
    flex-direction: row;
}

/*   DIV ESQUERDA    */
.sec-esquerda {
    max-width: 30%;
    padding: 60px;
    display: flex;
    flex-direction: column;
    gap: 35px;
}

.div-profileimage {
    max-width: 60%;
    max-height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div-profileimage img {
    max-width: 100%;
    height: auto;
    display: block; margin: auto;
}

.user-types h3 {
   font-size: 15px;
   font-weight: 200;
   border-bottom: 1px solid gray;
}

.user-types div {
    margin-top: 10px;
}

.user-types h4 {
    font-weight: 500;
}

.user-types p {
    font-size: 12px;
}

.user-types li {
    list-style: none;
}